mat-toolbar {

    background-color: darkviolet;
    color: white;
}

.titulo {

    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-spacer {
    
    flex: 1 1 auto;
}

.nav-button {

    margin: 8px;
}