.wrapper {

    text-align: center;
    background-color: rgb(211, 211, 211);
    padding: 50px;
    height: 77vh;
}

.formulario {

    width: 25%;
    margin: auto;
}

.mat-form-field {

    width: 100%;

}